function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto ifexp.288
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto elsexp.288
label ifexp.288
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label elsexp.288
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
not
if-goto ifexp.391
push this 4
push this 5
add
pop this 4
goto elsexp.391
label ifexp.391
push this 4
push this 6
add
pop this 4
push this 9
not
if-goto ifexp.415
push this 7
not
if-goto ifexp.420
push this 0
push constant 4
add
pop this 0
goto elsexp.420
label ifexp.420
push this 1
push constant 4
add
pop this 1
label elsexp.420
goto elsexp.415
label ifexp.415
push this 7
not
if-goto ifexp.446
push this 0
push constant 4
sub
pop this 0
goto elsexp.446
label ifexp.446
push this 1
push constant 4
sub
pop this 1
label elsexp.446
label elsexp.415
label elsexp.391
push this 8
not
if-goto ifexp.471
push this 7
not
if-goto ifexp.476
push this 1
push constant 4
add
pop this 1
goto elsexp.476
label ifexp.476
push this 0
push constant 4
add
pop this 0
label elsexp.476
goto elsexp.471
label ifexp.471
push this 7
not
if-goto ifexp.502
push this 1
push constant 4
sub
pop this 1
goto elsexp.502
label ifexp.502
push this 0
push constant 4
sub
pop this 0
label elsexp.502
label elsexp.471
push this 0
push this 10
gt
not
not
if-goto ifexp.526
push constant 1
pop this 14
push this 10
pop this 0
label ifexp.526
push this 0
push this 11
lt
not
not
if-goto ifexp.547
push constant 2
pop this 14
push this 11
pop this 0
label ifexp.547
push this 1
push this 12
gt
not
not
if-goto ifexp.568
push constant 3
pop this 14
push this 12
pop this 1
label ifexp.568
push this 1
push this 13
lt
not
not
if-goto ifexp.589
push constant 4
pop this 14
push this 13
pop this 1
label ifexp.589
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
not
if-goto ifexp.653
push constant 10
pop local 4
goto elsexp.653
label ifexp.653
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
not
if-goto ifexp.668
push constant 20
pop local 4
goto elsexp.668
label ifexp.668
push constant 5
pop local 4
label elsexp.668
label elsexp.653
push this 14
push constant 1
eq
not
if-goto ifexp.720
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto elsexp.720
label ifexp.720
push this 14
push constant 2
eq
not
if-goto ifexp.760
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto elsexp.760
label ifexp.760
push this 14
push constant 3
eq
not
if-goto ifexp.797
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto elsexp.797
label ifexp.797
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label elsexp.797
label elsexp.760
label elsexp.720
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
